@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Baufra";
    src: url("fonts/Baufra/Baufra-Regular.ttf");
}

@font-face {
    font-family: "Baufra";
    src: url("fonts/Baufra/Baufra-Bold.ttf");
}






.body{
    margin: 0;
    padding: 0;
    color: #333333;

}
.body-wrapper{
    overflow: hidden;
    width: 100%;
    position: relative;
    background: url(images/Group\ 20-body_bg.png) no-repeat;
    background-position: 50% 0%;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1620px;
    margin: 0  auto;
    padding: 0 20px 0 20px;
}

.header {
    display: flex;
    width: 100%;
    height: 144px;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
}



.partner-logos {
    display: flex;
    margin-left: 60px;
}

.partner-logos__logo {
    width: 100%;
    margin: 0 20px 0 0;
}

.header-menu {
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    width: 540px;
    flex-wrap: wrap;
    height: 100px;
    align-content: space-around;
}


.header__column{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu__item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}






.header-menu__sub-menu{
    width: 200px;
    height: 194px;
    background-color: #ffffff;
    text-align: left;
    flex-direction: column;
    position: absolute;
    display: none;
}


.header-menu__sub-menu-item{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.header-menu__sub-menu-item:last-child{
    border-bottom: none;
}
.active{
    display: flex;
}

.header__languages {
    display: flex;
    margin-right: 40px;
}

.header__language-item {
    font-family: 'Baufra';
    font-size: 16px;
    line-height: 19px;
    margin-right: 12px;
}


.header__slow-vision {
    transition: 0.35s;
    background: url("images/Vector-view_icon.jpg") no-repeat;
    width: 37.7px;
    height: 15px;
    margin-left: 20px;
}

.header__slow-vision:hover{
    background: url(images/Vector-slow_vision_hover.png) no-repeat;
}

.link {
    transition: 0.35s;
    text-decoration: none;
    color: #333333;
}
.link:hover {
    color: #A2CC5C;
}




.button{    
    border-style: solid;
    height: 69px;
    border-radius: 4px;
    color: #C2DA6B;
    border-width: 1px;
    padding-left: 80px;
    padding-right: 80px;
}

.button_apply{
    border-style: none;
    background-color: #333333;
    font-family: 'Montserrat';
    font-size: 18px;
}

.button_show-more{
    background-color: #FFFFFF;
    margin: auto;
    transition: 0.35s;
    border-color: #BBBBBB;
}
.button_show-more:hover{
    color: #F0F0F0;
    background-color: #A2CC5C;
}

.social-media{
    margin-left: 100px;
    display: flex;
}
.social-media__twitter-logo{
    transition: 0.35s;
    background-image: url(images/twitter.png);
    margin-right: 36px;
    width: 30px;
    height: 25px;
}

.social-media__twitter-logo:hover{
    background-image: url(images/Group-twitter_logo_hover.png);
}

.social-media__facebook-logo{
    transition: 0.35s;
    background-image: url(images/fc\ icon.png);
    margin-right: 36px;
    width: 12px;
    height: 23px;
}

.social-media__facebook-logo:hover{
    background-image: url(images/fc\ icon-fc_logo_hover.png);
}

.social-media__insta-logo{
    transition: 0.35s;
    background-image: url(images/insta\ icon.png);
    margin-right: 36px;
    width: 25px;
    height: 25px;
}

.social-media__insta-logo:hover{
    background-image: url(images/insta\ icon-insta_logo_hover.png);
}

.content{
    width: 100%;
}


.cover__line{
    width: 95px;
    height: 2px;
    background-color: #333333;
    margin-left: 36px;
    margin-right: 36px;
}

.news__line{
    width: 142px;
    height: 1px;
    background-color: #A2CC5C;
}



.cover__title {
    font-family: 'Montserrat';
    font-size: 78px;
    line-height: 110px;
    width: 670px;
    margin-top: 105px;
}

.cover__bottom{
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover__date{
    align-items: center;
    display: flex;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 5px;
    margin-top: -30px;  
}
.cover__place{
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0px;
    text-align: end;
    margin-top: 30px;
}

.news{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}


.news__title{
    font-family: 'Montserrat';
    font-size: 56px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 70px;
}

.news-post{
    display: flex;
    margin-bottom: 112px;
    max-width: 925px;
}

.news-post__info{
    margin-left: 48px;
    align-self: self-end;
    max-width: 470px;
}

.news-post_center{
    margin: 0 0 0 auto;
    margin-bottom: 112px;
}

.news__date{
    align-items: center;
    display: flex;
    color: #C2DA6B;
    margin-bottom: 30px;
    font-family: 'Baufra';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.news-post__title{
    margin-bottom: 38px;
    font-family: 'Baufra';
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;

}

.news__description{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #888888;
}



.partners{
    margin-top: 176px;
    overflow: hidden;
}

.partners__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners__controls{
    display: flex;
}

.partners__arrow-left{
    transition: 0.35s;
    margin-right: 66px;
    background: url(images/Vector-arrow_left.jpg) no-repeat;
    width: 16px;
    height: 21px;
}

.partners__arrow-left:hover{
    background-image: url(images/Vector-arrow_left_hover.png);
}

.partners__arrow-left_active{
    background-image: url(images/Vector-arrow_left_active.png);
}

.partners__arrow-right{
    transition: 0.35s;
    background: url(images/Vector-arrow_right.png) no-repeat;
    width: 16px;
    height: 21px;
}

.partners__arrow-right:hover{
    background-image: url(images/Vector-arrow_right_hover.png);
}

.partners__arrow-right_active{
    background-image: url(images/Vector-arrow_right_active.png);
}
.partners__bottom{
    
    margin-top: 76px;
}

.partners-items{
    cursor: grab;
    display: flex;
    width: 1620px;
    overflow: hidden;
    justify-content: space-between;
    
}
.partners__icon{
    pointer-events: none
}
.partners__title{
    font-family: 'Montserrat';
    font-size: 56px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: 0px;
}

.partners__progress-bar{
    width: 219px;
    height: 9px;
    background-color: #A2CC5C;
    margin-top: 93px;
}

.footer-container{
    background-color: #333333;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.footer_mobile-version{
    display: none;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    width: 414px;
}
.footer-menu__column{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer__menu-item{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 41px;
}
.footer__column{
    margin-top: 53px;
}

.partner-logos__item{
    margin-right: 27px;
}

.footer__row{
    display: flex;
    align-items: center;
}


.footer-copyright{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #BBBBBB;
    width: 255px;
}

.contacts{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    color: #C2DA6B;
}

.contacts__address{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 42px;
    width: 135px;
}

.test{
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: #333333;
}

.contacts__mail{
    color: #C2DA6B;
    transition: none;
    margin-top: 15px;
}

.contacts__phone{
    margin: 0;
    color: #C2DA6B;
    transition: none;
}
.footer__website-development{
    color: #BBBBBB;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    background-color: #040404;
    color: #BBBBBB;
    text-align: center;
    text-decoration: underline;
}

.parallax-container{
    position: relative;
}
.parallax{
    position: absolute;
    top: 20%;
    right: 130%;
}

.header__burger{
    display: none;
    width: 36px;
    height: 31px;
    background: url(images/Group\ 3-burger_bg.png) no-repeat;
    position: relative;
}

.header__burger:hover{
    border-style: solid;
    border-color: #040404;
}

.header__burger-wrapper{
    background-color: #FFFFFF;
    width: 100%;
    right: -100%;
    flex-direction: column;
    position: absolute;
    top: 0;
    box-shadow: 0px 4px 4px 4px rgba(34, 60, 80, 0.2);
    z-index: 1;
    transition: transform .5s;
}

.open {
    transform: translateX(-100%);
}

.header__burger-menu{
    height: 300px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.header__burger-top{
    margin: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__burger-bottom{
    justify-content: space-between;
    height: 150px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1200px){
    .body-wrapper{
        background-position: 40% 0%;
    }

    .container{
        max-width: 1100px;
    }

    .cover__bottom{
        flex-direction: column;
        position: relative;
    }
    .cover__info {
        order: 1;
        align-self: flex-start;
        margin-bottom: 40px;
    }
    .button_apply{
        order: 2;
        align-self: flex-start;
    }
    .social-media {
        position: absolute;
        top: 70%;
        order: 3;
    }

    .cover__bottom{
        margin-top: 0;
    }
    .cover__place{
        text-align: left;
    }

    .header-menu__item {
        font-size: 14px;
    }
    .footer__menu-item{
        font-size: 14px;
    }
    .cover__title{
        width: 100%;
        font-size: 57px;
        max-width: 500px;
    }
    .contacts{
        font-size: 22px;
    }
    .partner-logos{
        margin-left: 20px;
    }
    
}

@media (max-width: 992px){
    .body-wrapper{
        background: url(images/Group\ 20-bady_bg_992.png) no-repeat;
        background-position: 40% 0%;
    }
    .container{
        max-width: 830px;
    }
    .parallax{
        display: none;
    }

    .header-menu{
        display: none;
    }
    .header__burger{
        display: block;
    }
    .header__slow-vision_adaptive{
        margin: 0;
    }
    
    .header__languages{
        margin-right: 0;
        display: flex;
        width: 60px;
        justify-content: space-between;
    }
    .header__language-item{
        margin-right: 0;
    }
    .contacts{
        font-size: 20px;
    }

    .contacts__address_burger{
        text-align: center;
        color: #040404;
        margin-top: 0;
        width: 200px;
    }
    .header-menu__sub-menu{
        width: unset;
        position: unset;
        text-align: center;
        height: unset;
    }


    .header-menu__sub-menu-item {
        background-color: #F0F0F0;
    }    
    .footer{
        display: none;
    }
    .footer__column{
        margin: auto;
        margin-top: 53px;
    }
    .footer_mobile-version{
        display: block;
    }
    .footer-menu__row{
        display: flex;
        justify-content: space-around;
    }
    .news__line{
        width: 100%;
    }
}

@media (max-width: 768px){
    .body-wrapper{
        background: url(images/Group\ 17-body_bg_768.png) no-repeat;
        background-position: 40% 0;
    }
    .container{
        max-width: 650px;
    }
    .cover__bottom{
        align-items: flex-start;
    }
    .cover__line{
        width: 30px;
    }
    .social-media{
        margin-top: 120px;
        position: static;
        margin-left: 0;
    }
    .social-media__twitter-logo{
        background-image: url(images/twitter-social_media_logo1.png);
    }
    .social-media__insta-logo{
        background-image: url(images/Group-insta_logo.png);
    }
    .social-media__facebook-logo{
        background-image: url(images/fc\ icon-fc_logo.png);
    }
    
    .news__image{
        max-width: 350px;
        width: 100%;
        height: 100%;
    }
    .news__description{
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .news-post{
        margin-bottom: 50px;
    }
    .partners{
        margin-top: 150px;
    }
    .news__title{
        font-size: 50px;
    }
    .news-post__title{
        font-size: 26px;
    }
    .news-post__info{
        margin-left: 20px;
    }
    
}

@media (max-width: 576px){
    .body-wrapper{
        background-position: 30% 0%;
    }
    .container{
        max-width: 500px;
    }
    .header__languages{
        display: none;
    } 
    
    .header__slow-vision{
        display: none;
    }
    .news-post{
        display: block;
    }
    .news-post__info{
        margin: 0;
    }
    .news__line{
        display: none;
    }
    .partners__top{
        display: block;
        text-align: center;
    }
    .partners__controls{
        display: none;
    }
    .news__title{
        text-align: center;
    }
    .cover{
        display: flex;
        flex-direction: column;
    }
    .cover__title{
        text-align: center;
    }
    .cover__bottom{
        align-items: center;
    }
    .button_apply{
        align-self: center;
    }
    .cover__date{
        font-size: 20px;
    }
    .cover__place{
        text-align: center;
    }
    .cover__line{
        width: 29px;
    }
    .cover__info{
        align-self: center;
    }
    .social-media{
        margin-top: 120px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer_mobile-version{
        display: none;
    }
    .footer__column{
        margin: 50px 5% 0 5%;
    }
    .footer-copyright{
        width: unset;
        text-align: center;
    }
    .footer__row{
        justify-content: space-around;
    }
    .footer-menu{
        width: unset;
        display: block;
    }
    .footer-menu__column{
        flex-direction: row;
        justify-content: space-around;
    }
    .contacts{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .contacts__address{
        width: 140px;
    }
    .partner-logos{
        margin-left: 15px;
    }
    
}

@media (max-width: 375px){
    .container{
        max-width: 330px;
    }
    

    .cover__line{
        width: 19px;
    }
    .cover__title{
        width: 100%;
        font-size: 38px;
        max-width: 350px   
    }
    .cover__date{
        letter-spacing: 3px;
        font-size: 16px;
    }
    .cover__place{
        font-size: 24px;
    }
    .partner-logos{
        display: none;
    }
    
    .partners__title{
        font-size: 36px;
    }
    .cover{
        align-items: center;
    }
}