@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Baufra";
    src: url("fonts/Baufra/Baufra-Regular.ttf");
}

@font-face {
    font-family: "Baufra";
    src: url("fonts/Baufra/Baufra-Bold.ttf");
}

*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 14%;
}

.header {
    display: flex;
    width: 100%;
    height: 144px;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
}



.partner-logos {
    display: flex;
    margin-left: 60px;
}

.partner-logos__logo {
    width: 100%;
    margin: 0 20px 0 0;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    width: 540px;
    flex-wrap: wrap;
    height: 100px;
    align-content: space-around;
}

.header__column{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu__item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}


.header__languages {
    margin-right: 40px;
}

.header__language-item {
    font-family: 'Baufra';
    font-size: 16px;
    line-height: 19px;
    margin-right: 12px;
}



.header__slow-vision {
    transition: 0.35s;
    background: url("images/Vector-view_icon.jpg") no-repeat;
    width: 37.7px;
    height: 15px;
}

.header__slow-vision:hover{
    background: url(images/Vector-slow_vision_hover.png) no-repeat;
}

.link {
    transition: 0.35s;
    text-decoration: none;
    color: #333333;
}
.link:hover {
    color: #A2CC5C;
}



.cover__info{
    margin-left: 130px;
}

.button{    
    border-style: solid;
    height: 69px;
    border-radius: 4px;
    color: #C2DA6B;
    border-width: 1px;
    padding-left: 80px;
    padding-right: 80px;
}

.button_apply{
    border-style: none;
    background-color: #333333;
    font-family: 'Montserrat';
    font-size: 18px;
}

.button_show-more{
    background-color: #FFFFFF;
    margin: auto;
    transition: 0.35s;
    border-color: #BBBBBB;
}
.button_show-more:hover{
    color: #F0F0F0;
    background-color: #A2CC5C;
}

.social-media{
    margin-left: 240px;
    display: flex;
}
.social-media__twitter-logo{
    transition: 0.35s;
    background-image: url(images/twitter.png);
    margin-right: 36px;
    width: 30px;
    height: 25px;
}

.social-media__twitter-logo:hover{
    background-image: url(images/Group-twitter_logo_hover.png);
}

.social-media__facebook-logo{
    transition: 0.35s;
    background-image: url(images/fc\ icon.png);
    margin-right: 36px;
    width: 12px;
    height: 23px;
}

.social-media__facebook-logo:hover{
    background-image: url(images/fc\ icon-fc_logo_hover.png);
}

.social-media__insta-logo{
    transition: 0.35s;
    background-image: url(images/insta\ icon.png);
    margin-right: 36px;
    width: 25px;
    height: 25px;
}

.social-media__insta-logo:hover{
    background-image: url(images/insta\ icon-insta_logo_hover.png);
}

.content{
    width: 100%;
}


.cover__line{
    width: 95px;
    height: 2px;
    background-color: #333333;
    margin-left: 36px;
    margin-right: 36px;
}

.news__line{
    width: 142px;
    height: 1px;
    background-color: #A2CC5C;
}

.body{
    background: url(images/Group\ 22-body_bg\ \(2\).png) no-repeat;
    background-position: 50% 0px;
}

.cover__title {
    font-family: 'Montserrat';
    font-size: 78px;
    line-height: 110px;
    width: 620px;
    margin-top: 105px;
}

.cover__bottom{
    margin-top: 170px;
    display: flex;
    align-items: center;
}

.cover__date{
    align-items: center;
    display: flex;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 5px;
    margin-top: -30px;  
}
.cover__place{
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0px;
    text-align: end;
    margin-top: 30px;
}

.news{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}


.news__title{
    font-family: 'Montserrat';
    font-size: 56px;
    font-weight: 400;
    line-height: 68px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 70px;
}

.news-post{
    display: flex;
    margin-bottom: 112px;
    width: 925px;
}

.news-post__info{
    margin-left: 48px;
    align-self: self-end;
    width: 470px;
}

.news-post_center{
    margin: 0 0 0 auto;
    margin-bottom: 112px;
}

.news__date{
    align-items: center;
    display: flex;
    color: #C2DA6B;
    margin-bottom: 30px;
    font-family: 'Baufra';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.news-post__title{
    margin-bottom: 38px;
    font-family: 'Baufra';
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;

}

.news__description{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: #888888;
}



.partners{
    margin-top: 176px;
}

.partners__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners__controls{
    display: flex;
}

.partners__arrow-left{
    transition: 0.35s;
    margin-right: 66px;
    background: url(images/Vector-arrow_left.jpg) no-repeat;
    width: 16px;
    height: 21px;
}

.partners__arrow-left:hover{
    background-image: url(images/Vector-arrow_left_hover.png);
}

.partners__arrow-right{
    transition: 0.35s;
    margin-right: 66px;
    background: url(images/Vector-arrow_right.png) no-repeat;
    width: 16px;
    height: 21px;
}

.partners__arrow-right:hover{
    background-image: url(images/Vector-arrow_right_hover.png);
}

.partners__bottom{
    margin-top: 76px;
}

.partners-items{
    display: flex;
    justify-content: space-between;
}
.partners__title{
    font-family: 'Montserrat';
    font-size: 56px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: 0px;
}

.partners__progress-bar{
    width: 219px;
    height: 9px;
    background-color: #A2CC5C;
    margin-top: 93px;
}


.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    width: 100%;
    height: 272px;
}  

.footer-menu{
    display: flex;
    justify-content: space-between;
    width: 414px;
}
.footer-menu__column{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer__menu-item{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 41px;
}
.footer__column{
    margin: auto;
    margin-top: 53px;
}

.partner-logos__item{
    margin-right: 27px;
}

.footer__row{
    display: flex;
    align-items: center;
}


.footer-copyright{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #BBBBBB;
    width: 255px;
}

.contacts{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    color: #C2DA6B;
}

.contacts__address{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top: 42px;
    width: 135px;
}

.test{
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: #333333;
}

.contacts__mail{
    color: #C2DA6B;
    transition: none;
    margin-top: 15px;
}

.contacts__phone{
    color: #C2DA6B;
    transition: none;
}
.footer__website-development{
    color: #BBBBBB;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;

    background-color: #040404;
    color: #BBBBBB;
    text-align: center;
    text-decoration: underline;
}

.parallax-container{
    position: relative;
}
.parallax{
    top: 20%;
    right: 130%;
    position: absolute;
}

